{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        #calendar{
            width: 75%;
            margin:auto;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container">
    <div id="calendar">
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
    window.onload = () =>{
        let calendarEl = document.getElementById('calendar')
        let calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone:'Europe/Paris',
            locale: 'fr',
            initialView: 'timeGridWeek',
            headerToolbar:{
                center: 'timeGridWeek,dayGridMonth'
            },
        })
        calendar.render()
    }
    </script>
{% endblock %}